/* header css*/
*{
    margin:0;
    padding:0;
}
.header{
 background-color: white;
    position:relative;
}
nav{
    display :flex;
    justify-content: space-around;
    align-items:center;
    padding:2px;
    height:80px;
}
nav h1{
    color:rgb(6, 6, 105);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.nav-links{
    text-align: right;
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    position:relative;
    padding:15px;
    font-size:23px;
}
.nav-links ul li a{
    text-decoration: none;
    color:black;
}
.logo img{
    height:28px;
}
.nav-links ul li a:hover{
    color:blue
    
}
/* complete css here*/






/* home section is here*/
#home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    
}
/* background set*/
#home::before{
    content:"";
    background: darkgrey;
    position: absolute;
    height:100%;
    width:100%;
     z-index:-1;
    opacity:0.2;
    height:100px;
}

#home h1{
   color:#F06400;
    font-size:25px;
}
/*close home section*/






/*service section*/
#services{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px ;  
    height:200px;  
}
/* background set*/
#services::before{
    content:"";
    background: darkgrey;
    position: absolute;
    height:100%;
    width:100%;
     z-index:-1;
    opacity:0.2;
    height:240px;
}
#services h2{
    text-align:center;
    color:rgb(6, 6, 105);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    padding:12px;
}
#services p{
    text-align:center;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    padding:12px; 
    font-size: medium; 

}
/* close service section */







/*senior section is start here*/
  
#senior{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    margin:0px;
}
#senior .box{
    border: 1px solid black;
    padding:0px;
    margin:0px 15px;
    border-radius: 3px;
    background-color: white;
    height:100%;
    width:100%;

}
#senior .box img{
    height:100%;
    width:100%;
    display:block;
    
}
.box h1{
    color:black;
    font-weight: 100;
    text-align: center;
    font-size: x-large;
    margin:12px;
    margin-top: 35px;
}
.box h2{
    color:rgb(6, 6, 105);
    text-align: center;
    font-size: x-large;
}
.box p{
    text-align: center;
    padding: 2px;
    margin-top:12px;
    font-size:medium ;
}
/* close senior section*/






/* junior section is start here*/
.junior{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px ;  
    height:200px; 
    
}
.junior::before{
    content:"";
    background: darkgray;
    position: absolute;
    height:100%;
    width:100%;
     z-index:-1;
    opacity:0.2;
    height:240px;
}
.junior h1{
    color:rgb(6, 6, 105) ;
    font-size: 45px;
}
.junior p{
    font-size:18px ;
}
.junior button{
    color:white;
    background-color:#F06400;
    border:1px solid black;
    margin-top: 12px;
    cursor: pointer;
    height:50px;
    width:170px;
    
}
.junior button:hover{
    background-color: blue;
    color:white;
}
/*close junior section*/










/* contact section is start here */
#cntct{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px ;  
    height:100px; 

}
#cntct::before{
    content:"";
    background: url('../Images/baner.jpg')no-repeat center center/cover;
    position: absolute;
    height:100%;
    width:100%;
     z-index:-1;
    opacity:2;
    height:150px;

}
#cntct h1{
    color: white;
    font-size: xx-large;
}
/*contact section is close here*/







/* main section is start here */
#main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px ;  
}
#main::before{
    content:"";
    background: darkgray;
    position: absolute;
    height:100%;
    width:100%;
     z-index:-1;
    opacity:0.1;
    height:940px;    
}
/* div  min */
#min {
    padding:10px 10px;
    margin:5px;
}

#min h1{
    text-align: center;
    color:rgb(6, 6, 105) ;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:20px;
}
#min p{
    text-align: center;
    font-size: large;
    color: #212529;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* div  man*/
#man {
    
    padding:20px 10px;
    margin:5px;
    text-align: center;
}
#man h1 {
    color:rgb(6, 6, 105) ;
    padding:10px;

}
#man h2 {
    color: orangered;
    padding:10px;
    
}

/* div men */
#men{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    
}
.abc{
    height:100%;
    width:100%;
    margin:30px;
    
}
form input {
    height: 20px;
    margin:12px;
    width:230px;
}
#email{
    width:500px;
}
#telephone{
    width:500px;
}
textarea{
    height:110px;
    width:500px;
}
button{
    color:white;
    background-color:rgb(6, 6, 105) ;  
    box-sizing: border-box;
    padding:10px 80px;
    font-size:medium; 
    cursor: pointer;
    float:right;
    margin:6px;  
   }
   button:hover{
       background-color: white;
       color: blue;
   }











/* FOOTER:-medium section is start here*/
#medium{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:25px ;  
    height:400px; 
}
#medium-container::before{
    
    content:"";
    background: url('../Images/footer.jpg')no-repeat center center/cover;
    position: absolute;
    height:100%;
    width:100%;
     z-index:-5;
    opacity:1;
    height:500px;
}
.bax{
    padding:15px;
}
#a{
    
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#h{
    color:white;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#medium ul li{
    margin-top: 12px;;
color:white;
padding:3px;

}
#medium ul li a{
    color:white;
    text-decoration: none;
    padding:10px;
}

#k{
    color:white;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ab p{
    margin-top:15px;
    color:white;
    font-size: medium;
    padding:10px;
    display:inline-block;
    
}
#four{
    color:white;
    font-size: medium;
}
.ca{
    height:28px;
}
#two{
    color:white;
    font-size: x-large;
}

input{
    border:2px solid black;
    padding:12px 4px;
    margin:4px;
    color: black;
    font-size: medium;
    }

textarea{
    border:2px solid black;
    box-sizing: border-box;
    padding:10px 100px;
    color:black;
    font-size:medium;
}
#medium-container button{
    border:2px solid black;
    box-sizing: border-box;
    padding:15px 150px;
    color:white;
    font-size:small; 
    background-color: blue; 
    cursor: pointer; 
}
#medium-container button:hover{
    background-color: orange;
    color:white;
}
/* FOOTER:-medium section is close here */







/* footer is start here*/
 footer{
    background-color: blue;
    color: white;
    padding:12px;
    margin-top: 0px 0px;
}