
    .head {

        width: 100%;
        height: 100px;
        background: #FFFFFF;
        padding: 1px;

    }

    #h1 {
        font-size: 32px;
        font-weight: bold;
        color: #06038D;
        margin-top: 18px;
        font-family: 'Montserrat', sans-serif !important;
        margin-left: 179px;
        position: relative;
    }

    .nav {
        margin-top: -62px;
        margin-left: 659px;
        position: absolute;
        font-family: 'Montserrat', sans-serif !important;
    }


    .nav ul li {

        display: inline;
        padding: 26px 14px;
        font-size: 16px;
        color: #171717;
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif !important;
    }


    .media {
        float: right;
        margin-top: -51px;
        margin-right: 215px;
        
    }


   .heading{
    background: #F8F7F6;
    height: 100px;
    padding: 1px;
   }

   
   #h2 {
    font-family: 'Montserrat', sans-serif !important;
    color: #F06400;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
   } 
   
     .body{

    background: #F8F7F6;
    width: 100%;
    padding: 1px;
    margin-top: 11px;
    

    } 


     #h3 {
        color:#06038D;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 700;
        word-spacing: 6px;
        font-size: 20px;
        text-align: center;
    }


    #p1 {
        text-align: center;
        font-size: 17px;
        font-family: 'Montserrat', sans-serif !important;
        color: #595959;
    }


    .first{
        height: 887px;
        width: 79%;
        margin-left: 168px;
        margin-top: 105px;
    }


    .box{
        background: white;
        height: 772px;
        width: 55%;
        float: left;
        text-align: center;
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    }


    
    #p2{
        font-size: 31px;
    }


    #h5{
        font-size: 31px;
        color:#06038D;
    }

   

    .box2{
        background: white;
        height: 800px;
        width: 42%;
        float: right;
        text-align: center;
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    }


    .middle{
        background:#06038D;
        width: 100%;
        height: 560px;
        padding: 1px;
    }


    .midhead{
        height: 420px;
        width: 75%;
        background-color: transparent;
        font-family: 'Montserrat', sans-serif !important;
        margin-left: 177px; 
        margin-top: 65px;
        padding: 1px;
    }


    .mid2{
        background: transparent;
        height: 420px;
        width: 54%;
        padding: 1px;
        float: left;
    }


    .list{
        margin-top: -14px;
        float: left;
        line-height: 28px;
        color: white;
    }

    .list ul li{
        list-style: disclosure-open;
    }
   

    .list2{
        float: right;
        margin-right: 138px;
        line-height: 28px;
        color: white;
        margin-top: -14px;
    }

    .list2 ul li{
        list-style: disclosure-open;
    }



    .lowermid{
        background: transparent;
        height: 970px;
        width: 75%;
        margin-top: 79px;
        margin-left: 186px;
        font-family: 'Montserrat', sans-serif !important;
    }


    .lower{
        height: 900px;
        width: 55%;
        background: white;
        float: left;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
        
    }


    .lower2{
        height: 900px;
        width: 43%;
        background:white;
        float: right;
        text-align: center;
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    }


    .foot{
        width: 100%;
        height: 500px;
        background-image: url(https://www.designcurtains.com.au/image/footer.jpg);
        padding: 1px;
    }


    .midfoot{
        width: 75%;
        height: 458px;
        margin-top: 25px;
        margin-left: 185px;
        padding: 1px;
        font-family: 'Montserrat', sans-serif !important;
        color: white;
    }

    .midfoot1{
        width: 21%;
        height: 205px;
        line-height: 28px;
        float: left;

    }


    .midfoot1 ul li{
        list-style: disclosure-closed;
        
    }


    .midfoot2{
        height: 307px;
        width: 27%;
        float: left;
        margin-left: 85px;
    }


    .img{
        height: 40px;
        width: 95%;
        margin-top: 105px;
        margin-left: 4px;
    }

    .icon{
        margin: 7px;
    }


    .midfoot3{
        height: 338px;
        width: 39%;
        float: left;
        margin-left: 61px
    }


    .foot input[type="text"]{
        border:white 2px solid;
        padding: 20px;
        margin: 3px;
        width: 166px;
        background: transparent;
        color: #fff;
    }


    .foot input[type="submit"]{
        width: 99%;
        border-radius: 6px;
        margin-top: 29px;
        height: 33px;
        text-transform: uppercase;
        background:#06038D;
        color: #fff;
    }


    .end{
        background:#06038D;
        width: 100%;
        height: 70px;
        padding: 1px;
        color: white;
        text-align: center;
        font-family: 'Montserrat', sans-serif !important;
    }





    .contact{
        width: 100%;
        height: 176px;
        background-image: url(https://www.designcurtains.com.au/image/contact/baner.jpg);
        background-position: top;
        background-repeat: no-repeat;
        text-align: center;
        color: white;
        font-family: 'Montserrat', sans-serif !important;
        padding: 1px;
        background-size: contain;  
    }

    .contact2{
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 127px;
        padding: 1px;
    }


    .contactmid{
        height: 129px;
        width: 100%;
        text-align: center;
        font-family: 'Montserrat', sans-serif !important;
    }


    .contactmid h2{
        color: #06038D;
    }


    .contactmid p{
        color: #595959;
    }


    .contactmid2{
        height: 200px;
        width: 100%;
        padding: 1px;
        text-align: center;
        font-family: 'Montserrat', sans-serif !important;
    }


    .contactmid2 h2{
        color: #06038D;
    }


    .contactmid2 h3{
        color: #F06400;
    }

    .contactmid2 h4{
        font-size: 20px;
        color: #06038D;
    }


    .backform{
        width: 75%;
        height: 551px;
        margin-top: 6px;
        padding: 1px;
        margin-left: 180px;
        font-family: 'Montserrat', sans-serif !important;
    }


    .form{
        width: 50%;
        height: 500px;
        float: left;
    }


    .form input[type="text"]{
        background: #f4f4f4;
        padding: 16px;
        margin: 10px;
        width: 40%;
        border-radius: 6px;
        border: solid 1px #d5d5d5;
    }


    .form textarea{
        background: #f4f4f4;
        margin-top: 10px;
        margin-left: 12px;
        border-radius: 6px;
        width: 94%;
        height: 200px;
        border: solid 1px #d5d5d5;
    }


    .form input[type="submit"]{
        margin-top: 20px;
        margin-left: 345px;
        width: 36%;
        padding: 13px;
        text-transform: uppercase;
        background: #06038D;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        border: 0;
    }

    .image{
        float: right;
    }

    .image img{
        height: 500px;
        border: solid 2px whitesmoke;
        padding: 6px;
        background: #dedede;
        border-radius: 9px;
        box-shadow: 10px 10px 14px rgb(255 255 255 / 90%)
    }


    










   

   


