/* header css*/
*{
    margin:0;
    padding:0;
}
.header{
 background-color: white;
    position:relative;
}
nav{
    display :flex;
    justify-content: space-around;
    align-items:center;
    padding:2px;
    height:80px;
}
nav h1{
    color:rgb(6, 6, 105);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.nav-links{
    text-align: right;
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    position:relative;
    padding:15px;
    font-size:23px;
}
.nav-links ul li a{
    text-decoration: none;
    color:black;
}
.logo img{
    height:28px;
}
.nav-links ul li a:hover{
    color:blue
    
}
/* complete css here*/


/* home section is here*/
#home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    
}
/* background set*/
#home::before{
    content:"";
    background: darkgrey;
    position: absolute;
    height:100%;
    width:100%;
     z-index:-1;
    opacity:0.2;
    height:100px;
}

#home h1{
   color:#F06400;
    font-size:25px;
}
/*close home section*/





/*service section*/
#services{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px ;  
    height:200px;  
}
/* background set*/
#services::before{
    content:"";
    background: darkgrey;
    position: absolute;
    height:100%;
    width:100%;
     z-index:-1;
    opacity:0.2;
    height:240px;
}
#services h2{
    text-align:center;
    color:rgb(6, 6, 105);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    padding:12px;
}
#services p{
    text-align:center;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    padding:12px; 
    font-size: medium; 

}
/* close service section */





/*senior section is start here*/
  
#senior{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    margin:0px;
}
#senior .box{
    border: 1px solid black;
    padding:0px;
    margin:0px 15px;
    border-radius: 3px;
    background-color: white;
    height:100%;
    width:100%;

}
#senior .box img{
    height:100%;
    width:100%;
    display:block;
    
}
.box h1{
    color:black;
    font-weight: 100;
    text-align: center;
    font-size: x-large;
    margin:12px;
    margin-top: 35px;
}
.box h2{
    color:rgb(6, 6, 105);
    text-align: center;
    font-size: x-large;
}
.box p{
    text-align: center;
    padding: 2px;
    margin-top:12px;
    font-size:medium ;
}
/* close senior section*/



/* junior section is start here*/
.junior{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px ;  
    height:200px; 
    
}
.junior::before{
    content:"";
    background: darkgrey;
    position: absolute;
    height:100%;
    width:100%;
     z-index:-1;
    opacity:0.2;
    height:240px;
}
.junior h1{
    color:rgb(6, 6, 105) ;
    font-size: 45px;
}
.junior p{
    font-size:18px ;
}
.junior button{
    color:white;
    background-color:#F06400;
    border:15px solid #F06400;
    margin-top: 20px;
}
/*close junior section*/


/* medium section is start here*/
#medium{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:25px ;  
    height:400px; 
}
#medium-container::before{
    content:"";
    background: url('images/footer.jpg')no-repeat center center/cover;
    position: absolute;
    height:100%;
    width:100%;
     z-index:-5;
    opacity:1;
    height:500px;
}
.bax{
    padding:15px;
}
#a{
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#h{
    color:white;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

#medium ul li{
    margin-top: 12px;;
color:white;
padding:3px;

}
#medium ul li a{
    color:white;
    text-decoration: none;
    padding:10px;
}

#k{
    color:white;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ab p{
    margin-top:15px;
    color:white;
    font-size: medium;
    padding:10px;
    display:inline-block;
    
}
#four{
    color:white;
    font-size: medium;
}
.ca{
    height:28px;
}
#two{
    color:white;
    font-size: x-large;
}

input{
    border:2px solid black;
    padding:12px 4px;
    margin:4px;
    color: black;
    font-size: medium;
    }

textarea{
    border:2px solid black;
    box-sizing: border-box;
    padding:10px 100px;
    color:black;
    font-size:medium;
}
form button{
    border:2px solid black;
    box-sizing: border-box;
    padding:10px 150px;
    color:white;
    font-size:medium; 
    background-color: blue; 
    cursor: pointer; 
}
form button:hover{
    background-color: orangered;
} 




/* footer is start here*/
 footer{
    background-color: blue;
    color: white;
    padding:12px;
    margin-top: 0px 0px;
}
 

